[submodule "dircolors/dircolors.256color"]
	path = dircolors/dircolors.256color
	url = git://github.com/billinux/LS_COLORS.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/vim-get_mod"]
	path = vim/vim-get_mod
	url = git://github.com/billinux/vim-get_mod.git
[submodule "apps/vcp"]
	path = apps/vcp
	url = git://github.com/lynix/vcp
[submodule "apps/git"]
	path = apps/git
	url = git://github.com/git/git.git
