[submodule "dircolors/dircolors.256color"]
	path = dircolors/dircolors.256color
	url = git://github.com/billinux/LS_COLORS.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/vim-get_mod"]
	path = vim/vim-get_mod
	url = git://github.com/billinux/vim-get_mod.git
[submodule "apps/vcp"]
	path = apps/vcp
	url = git://github.com/lynix/vcp
[submodule "apps/git"]
	path = apps/git
	url = git://github.com/git/git.git
[submodule "vim/vimget"]
	path = vim/vimget
	url = git://github.com/billinux/vimget.git
[submodule "scss/sass-mixins"]
	path = scss/sass-mixins
	url = git://github.com/web-design-weekly/sass-mixins.git
[submodule "scss/color-me-sass"]
	path = scss/color-me-sass
	url = git://github.com/RichardBray/color-me-sass.git
[submodule "dircolors/r/trapd00r"]
	path = dircolors/r/trapd00r
	url = git://github.com/trapd00r/LS_COLORS.git
[submodule "dircolors/r/jmcantrell"]
	path = dircolors/r/jmcantrell
	url = git://github.com/jmcantrell/dircolors.git
[submodule "dircolors/r/solarized"]
	path = dircolors/r/solarized
	url = git://github.com/seebi/dircolors-solarized.git
[submodule "apps/hub"]
	path = apps/hub
	url = git://github.com/github/hub.git
