# Always-ignore extensions
*~
*.swp
*.diff
*.log
*.sass-cache
bump-version.sh*
tmp/**/*
build/*
bash/bash_infos
bash/functions/bash/bashtips
sublime_text/User/Package\ Control.sublime-settings
sublime_text/User/Package Control.last-run
sublime_text/User/Side\ Bar.sublime-settings
sublime_text/User/Fetch.sublime-settings
sublime_text/User/Snippet/*
!.gitignore
